@page "/editarblog/{Id:int}"

@inject IBlogBusinessLayer _BL
@inject NavigationManager _NM

@using System.ComponentModel.DataAnnotations

<br />
<h3>Estem editant el blog @Id - @MyEditBlogCanviNomModel.Nom </h3>

<EditForm Model="MyEditBlogCanviNomModel" OnValidSubmit="Submit" class="row">

    <DataAnnotationsValidator />

    <CustomInputText @bind-Value="MyEditBlogCanviNomModel.Nom"
                     Label="Nom del blog"
                     Css="col-md-4" />

    <div class="col-12 mt-3">
        <button class="btn btn-primary" type="submit">Canviar el nom</button>
    </div>
</EditForm>
