<div class="componentmarcador">

    <div class="puntuacio">
        <div class="puntslocal">@(MarcadorMachine.PuntsLocal)</div>
        <div class="separador"> - </div>
        <div class="puntsvisitant">@(MarcadorMachine.PuntsVisitant)</div>
    </div>

    <div class="buttonsincrementa">
        <button type="button" 
                id="incrementalocal"
                @onclick="MarcadorMachine.IncrementaLocal">
            Local +
        </button>
        <button type="button" 
                id="incrementavisitant"
                @onclick="MarcadorMachine.IncrementaVisitant">
            Visitant +
        </button>
    </div>

    <div class="altresbuttons">
        <button type="button"
                id="posarmarcadora0"
                @onclick="MarcadorMachine.PosarMarcadorA0">
            Posar marcadors a 0
        </button>
    </div>

</div>
